NODE_ENV=test

# BD aislada para tests de integracion. Se trunca entre tests.
TEST_DATABASE_URL="postgresql://cama:cama_dev_password@localhost:5433/cama_pro_test?schema=public"
DATABASE_URL="postgresql://cama:cama_dev_password@localhost:5433/cama_pro_test?schema=public"

JWT_SECRET=test_secret_just_for_unit_and_integration_tests_xx
JWT_EXPIRES_IN=1h

CORS_ORIGIN=http://localhost:5173
